.container {
    /* width: min(100%, 1440px); */

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

    background-color: #D9D9D9;


}

.headerbox {
    display: flex;
}



.homelogo {
    /* background-color: aqua; */

    vertical-align: middle;
    margin: 50px 0 50px 130px;

}

nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 287px;
}

li {
    display: inline-block;
    font-size: 24px;
    font-family: "ALK Life", sans-serif;

}

.active {
    color: #A62B28;
}

.inactive {
    color: #717276;
}

.textt {
    margin-left: 36px;
    margin-right: 36px;
}

section {
    width: 1180px;
    margin: auto;
    padding-bottom: 50px;



}


.section_head_box {
    display: flex;
    column-gap: 50px;
    align-items: center;


}

.section_head {
    padding-top: 165px;
}

.section_title {
    font-size: 32px;
    color: #717276;
    font-family: "DejaVu Sans", sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-top: 160px;
    /* vertical-align: bottom; */

}


article {
    width: 380px;
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;

}

.article2 {
    margin-inline: 16px;
}

h2 {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 39px;
    color: #717276;



}

p {
    font-family: "ALK Life", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 39px;
    color: #717276;
    margin-block: 8px 8px;
    color: #000000;

}

.price {
    font-family: DejaVu Sans;
    font-size: 24px;
    font-weight: 700;
    color: #A62B28;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    background-color: #F6D0C9;
}

.ulfooter {
    display: flex;
    column-gap: 50px;
}

.footer_nav1 {

    display: flex;
    margin: auto;
}

.footer_textt {
    font-family: "ALK Life", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}



.footer_nav2 {
    display: flex;
    column-gap: 50px;
    margin: auto;
}